body {
    margin: 0px;
    font-family: Arial;
}

h1 {
    font-size: 10em;
}

.section-1 {
    background-color: #4915f8;
    color: white;
    display: flex;
    flex-direction: row;
    align-items:center;
    
}

.section-2 {
    background-color:  #4915f8;
    color: white;
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 80px;
}

.section-3 {
    background-color:  #4915f8;
    color: white;
    display: flex;
    
}

input[type='button'] {
    padding: 15px 32px;
    font-size: medium;
    font-weight: bold;
    border: 0px;
    border-radius: 25px;

}

a:visited {
    color: white;
}

a:hover {
    color: #999999;
}

.headline-1 {
    font-size: 28px;
}

.headline-2 {
    font-size: 45px;
    font-weight: bold;

}

.headline-3 {
    font-size: 15px;
}

.headline-4 {
    font-size: 10px;
    padding: 15px 0px 0px 0PX;
}

.headline-5 {
    font-size: 23px;
    font-weight: bold;
}

.headline-6 {
    font-size: 20px;
    font-weight: bold;
}


